body{
    margin: 0;
    padding: 0; 
    background-image: url(/static/img/blackgroud_Flight4U.jpg);
    background-size: cover;
    background-repeat: unset;
    
}

.container{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ticket-details-div{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 20px;
}

.fare{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 15px;
    margin-left: 1rem;
    width: auto;
}

.ticket-details-div input{
    pointer-events: none;
    border: none;
    padding-left: fit-content;
}


section{
    margin-top: 3rem;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

section input{
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px;
}

.info{
    text-align: center;
}

section input[type="text"]::placeholder{
    text-align: center;
}

.input-content{
    margin: 2rem auto;
}

.required:after{
    content: "*";
    color: red;
}

.warn{ 
    color:rgb(255, 187, 0);
    font-size: 15px;
    margin-left: 10px ;
}

.proceed{
    padding: 7px;
    cursor: pointer;
    background-color: rgb(255, 115, 0);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}
.proceed:hover {
    color: rgb(255, 115, 0);
    border: 1px solid rgb(255, 115, 0);
    background-color: rgba(255, 255, 255, 0.815); 
    transition-duration: .1s;
    cursor: pointer;
}

span{
    color: red;
}

.addP{
    margin: 1rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*---small screen ---*/
@media screen and (max-width: 575px){

    .ticket-details-div {
        margin: 1rem auto;
        width: 90%;
    }
    .fare{
        margin: 1rem auto;
        width: 80%;
    }
}