*{
    margin: 0;
    padding: 0;
}
.content{
    margin-top: 10px;
}

/*---full screen---*/

nav{
    background-color:rgb(255, 115, 0);
    position: absolute;
}

#logo{
    height: 30px;
}

.dropdown-menu{
    min-width: auto;
}

ul li a{
    color: rgba(255, 255, 255, 0.822) !important;
}


.nav-link.signup,.nav-link.login{
    margin-top: 3px;
}

.nav-link.signup{
    background-color: rgba(255, 255, 255, 0.678);
    color: rgb(255, 115, 0) !important;
    border-radius: 10px;
    border: none;
}

.nav-link.signup:hover{
    color: rgba(255, 255, 255) !important;
    background-color: rgb(161, 57, 43);
    border: 1px solid rgba(255, 255, 255);
}

.nav-link.login{
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 5px;
}

.nav-link.login:hover{
    background-color: rgba(255, 255, 255, 0.904);
    color: rgb(255, 115, 0) !important;
    border: none;
}


.nav-link.logout{
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link.logout:hover{
    background-color:rgb(187, 0, 0);
}

.nav-link.logged{
    pointer-events: none;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 1.2em;
    display: inline-flex;
    vertical-align: center;
}

.nav-link.logged h5{
    margin-top: 2px;
    margin-left: 5px;
}

.my_booking{
    transition: 0.3s;
    padding: 5px;
}

.my_booking:hover{
    font-weight: bold;
    font-size: 18px !important;
    transition: 0.2s;

}

/*---medium and small screen ---*/
@media screen and (max-width: 991.5px){

    ul,li{
        display: flex;
        margin: 0 auto;
    }
    
    .nav-link.login{
        border: none;
        background-color: inherit;
        color: white !important;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 0;
        padding-bottom: 0;
        border-bottom: 1px solid white;
    }

    .nav-link.signup{
        background-color: inherit;
        border: 1px solid white;
        color: rgba(255, 255, 255, 0.863)!important;
        padding: 5px;
    }

    .nav-link.signup:hover{
        color: rgb(255, 115, 0)!important;
        background-color: rgba(255, 255, 255, 0.781);
        padding: 5px;
        border: 1px solid white;
    }

    .nav-link.login:hover{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.781);
        color: rgb(255, 115, 0)!important;
        padding: 5px;
    }

    #log-sign{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-link.logged{
        border: none;
        background-color: inherit;
        color: white !important;
        margin-top: 17px;
        padding: 0;
        font-weight: 500;
        font-size: 1em;
    }

    .nav-link.logged h5{
        margin-top: -2px;
    }

    .nav-link.logout{
        margin: 10px 10px ;
    }

    .nav-link.logged,.nav-link.logout{
        display: flex !important;
    }

    #logo{
        margin-left: -4rem;
    }

}

::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}