body{
    font-family:"Lato", sans-serif;
}

input{
    margin: 10px 0 10px 0;
    padding: 5px;
    font-size: 15px;
    width: 5cm;
}

form{

    width: 10cm; 
    
}

fieldset{
    height: 200px;
}

.btn{

    margin: 10px 0 10px 0;
    padding: 10px;
    width: 75px;
    background-color: rgb(226, 97, 37);
    color: white;
    border: none;
    border-radius: 3px;
}


.warn{
    padding: 15px;
    width: 15cm;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #ff9595;
    color: rgb(105, 16, 16);
}

.alert b{
    font-size: 15px;
    margin-left: 20px;
}