/* body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#ffffff;
    background-image: url(/static/img/blackgroud_Flight4U.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
body,
html {
    margin: 0;
    padding: 0; 
    background-color:#ffffff;
    background-image: url(/static/img/blackgroud_Flight4U.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.content{
    margin-top: 170px;
}
  
.user_card {
    height: 450px;
    width: 600px;
    margin-top: auto;
    margin-bottom: 0px;
    margin-left: 20px ;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    opacity: 0.8 ;

}
.brand_logo_container {
    margin-top: 170px;
    position: absolute;
    height: 160px;
    width: 160px;
    top: -80px;
    border-radius: 50%;
    /* background: rgb(255, 255, 255); */
    /* padding: 10px; */
    /* text-align: center; */

}
.brand_logo {
    height: 200px;
    width: 200px;
    margin-right: 20px ;
    border-radius: 50%;
    border: 15px solid rgba(255, 255, 255,0.8);

}
.form_container {
    margin-top: 30px;
}

.login_btn {
    /* height: 50px; */
    width: 550px;
    padding: 10px;
    /* width: 100%; */
    background: rgb(230, 103, 0) !important;
    color: white !important;
}
/* .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
} */
.login_btn:disabled{
    background-color: rgba(255, 115, 0, 0.527);
    color: rgb(255, 255, 255);
}
.login_btn:hover {
    color: rgb(230, 103, 0) ;
    background-color: rgba(255, 115, 1, 0.37); 
    transition-duration: .1s;
}


.login_container {
    height: 50px;
    width: 450px;
    justify-content: center;
    padding: 0 2rem;
}
.input-group-text {
    height: 60px;
    width: 60px;
    background: rgb(230, 103, 0) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    justify-content: center;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(230, 103, 0) !important;
}

.warn{
    padding: 15px;
    width: 15cm;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #ff9595;
    color: rgb(105, 16, 16);
}

.alert{
    font-size: 15px;
    padding: 20px;
}