
body{
    margin: 0;
    padding: 0; 
    background-color:#ffffff;
    background-image: url(/static/img/blackgroud_Flight4U.jpg);
    background-size: cover;
    background-repeat: unset;
    
}

.user_card {
    height: 350px;
    width: 350px;   
    margin-top: 7rem; 
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    opacity: 0.9 ;

}
.brand_logo_container {
    position: absolute;
    /* height: 160px;
    width: 160px; */
    top: -80px;
    border-radius: 50%;
    /* padding: 10px; */
    text-align: center;
}
.brand_logIN {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 2px solid white;
}

.mt-4 a{
    margin-left: 5px;
}

.form_container {
    margin-top: 70px;
}
.login_btn {
    width: 100%;
    background-color: rgb(230, 103, 0);
    color: white;

}
.login_btn:disabled{
    background-color: rgba(255, 115, 0, 0.527);
    color: rgb(255, 255, 255);
}
.login_btn:hover {
    color: rgb(230, 103, 0) ;
    background-color: rgba(255, 115, 1, 0.37); 
    transition-duration: .1s;
}

.login_container {
    padding: 0 2rem;
}
.input-group-text {
    height: 40px;
    width: 45px;
    background: rgb(230, 103, 0);
    color: white ;
    border: 0 ;
    border-radius: 0.25rem 0 0 0.25rem ;
}
.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}

.alert {
    padding: 5px;
    text-align: center;
}
