span{ color: red;}

input{
    margin-bottom: 10px;
    width: 20em;
}


form{
    width: 50%;
    /* display: grid;
    grid-template-columns: 1fr; */
    margin: 20px auto;
    
}

button{
    padding: 8px;
}

.confirm{
    background-color: rgb(230, 103, 0);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.cancle{
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancle a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#js_Amount{
    pointer-events: none;
    background-color: rgba(211, 211, 211, 0.514);
    border: 1px solid rgb(116, 116, 116);
    border-radius: 2px;
    /* height: 18px; */
}

/* Large screen */

@media screen and (min-width: 800px) {

    .payment-content{
        width: 50%;
        margin: 20px auto;
    }

}