body{
    margin: 0;
    padding: 0; 
    background-color:#ffffff;
    background-image: url(/static/img/blackgroud_Flight4U.jpg);
    background-size: cover;
    background-repeat: unset;
    height: 100vh;
    
}

.user_card {
    height: 500px;  
    margin-top: 5rem; 
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    opacity: 0.9 ;

}

input{
    display: flex;
    width: 50%;
    margin-top: 10px;
}

.form-group h1{
    margin-bottom: 1em;
}

.btn{
    margin: 20px 0;
    width: 50%;
    background-color: rgb(230, 103, 0);
    color: white;
}

.alert {
    padding: 5px;
    text-align: center;
}