body{
    font-family:"Lato", sans-serif;
    background-color: rgb(255, 255, 255);
}

label{
    margin-top: 10px;
    display: flex;
    
}

form{
    margin: 20px;
    
}

.btn{
    margin: 1em auto;
    background-color: rgb(230, 103, 0);
    border: none;
    padding: 5px;
    width: 10rem;
    border-radius: 5px;
    color: white;
}





