body{
    font-family:"Lato", sans-serif;
    background-color: rgb(255, 255, 255);
}

label{
    margin-top: 10px;
    display: flex;
    
}

form{
    margin: 20px;
    
}

.btn{
    margin: 10px;
}





