.carousel-item {
    margin-top: 80px;
    height: 250px;
    
    /* min-height: auto; */
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


    /* mobile screen */

    @media screen and (max-width: 1200px) {
        .search_card{
         margin: 10px auto;
         height: 360px;
        /* width: 500px; */
         padding: 10px;
            /* grid-template-columns: 1fr;
            grid-row: 2fr 1fr; */
            }
        }