@page{
    margin: 37px 50px;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    padding: 7% 7%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgb(230, 103, 0);
    padding: 20px;
}
.logo{
    display: flex;
}

.brand_logo {
    margin: 5px;
    height: 35px;
    width: 90px;
}

.header{
    text-align: right;

}
li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.col{
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%
}
table{
    margin-top: 0;
    width: 100%;
}
.table{
    margin-top: 25px;
}
tr{
    width: 100%;
}
th{
    width: 25%;
    text-align: left;
    padding: 5px 20px;
}
td{
    width: 25%;
    text-align: left;
    padding: 5px 15px;
}
caption{
    text-align: left;
    background-color: #a9a9a9;
    color: white;
    padding: 8px 15px;
    font-weight: bold;
}
.tr-caption{
    text-align: left;
    background-color: #a9a9a9;
    color: white;
    padding: 0;
    font-weight: bold;
    width: 100%;
    font-size: 1.4em;
}
.tr-even{
    background-color: #f0f0f0;
}
.tr-odd{
    background-color: white;
}

.brand_add{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #b8b8b8;
    border-bottom: 2px solid #b8b8b8;
    margin-top: 20px;
    background-color:rgb(248, 210, 196);
}

.in_brand_add{
    height: 70px;
    width: 420px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

.inform{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.in_inform{
    height: 100px;
    width: 420px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}