
*{
    font-family: "Lato", sans-serif;
}
body,
html {
    margin: 0;
    padding: 0; 
    background-color:#ffffff;
    background-image: url(/static/img/blackgroud_Flight4U.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* .view-head{
    margin: 10px 10%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;

} */
.container_views{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    opacity: 0.9 ;
    
}
.btnSearch{
    margin: auto;
    background-color: rgb(230, 103, 0);
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
}

.btnSearch a{
    text-decoration: none;
    color: white;
}


table{
    margin: 2rem auto;
}

th, td {
    font-family: "Lato", sans-serif;
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid rgb(219, 215, 204);
    
}

input{
    pointer-events: none;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    margin: 0 20px 0 0 ;
    font-size: medium;
    text-align: center;
}

.btnChoose{
    background-color: rgb(230, 103, 0);
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
}

.btnChoose a {
    text-decoration: none;
    color: white;
}


/* .col{
    color: rgb(230, 103, 0);
} */

/* mobile screen */

@media screen and (max-width: 800px) {
    /* .view-head{
        margin: 10px 10%;
        display: grid;
        grid-template-columns:1fr 1fr;
        row-gap: 20px;
    
    }
     */
}