body{
    margin: 0;
    padding: 0; 
    background-image: url(/static/img/blackgroud_Flight4U.jpg);
    background-size: cover;
    background-repeat: unset;
    
}


.row.gx-3{
    background: #ffffff;
    margin-top: 1em;
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    opacity: 0.9 ;
    
}

.container.flight{
    margin: 2rem auto;
    /* background: #ffffff; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 30px;
    opacity: 0.9 ;
    padding: 2rem;
}


.row input{
    pointer-events: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: medium;
    text-align: center;
}

section.section-1{
    margin: 7em auto;
}

.flight{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    border-radius: 30px;
    padding-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
    margin: 0;
    padding:0;
}

/* --------button ------------*/

.d-flex a{
    margin: 25px 0em auto;
}


.btn.choose{
    background-color: rgb(255, 115, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
}

.btn.choose:hover{
    background-color:rgba(255, 255, 255, 0.877);
    border: 1px solid rgb(255, 115, 0);
    color: rgb(255, 115, 0) !important;
}


.btn.search{
    background-color:rgb(255, 115, 0);
    border: none;
    padding: 5px 1rem;
    border-radius: 5px;
    color: rgb(255, 255, 255);

}

.btn.search:hover{
    background-color:rgba(255, 255, 255, 0.877);
    border: 1px solid rgb(255, 115, 0);
    color: rgb(255, 115, 0);
}

/*---medium and small screen ---*/
@media screen and (max-width: 767px){

    .btn.choose{
        margin-bottom: 0;
    }

    .price{
        display:none;
    }
}


