{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'boostrap/css/bootstrap.min.css' %}">
  <script src="{% static 'boostrap/js/bootstrap.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    

  <link rel="icon" type="image/ico" href="/static/img/plane.png">

  <link rel="stylesheet" href="{% static 'css/layout.css' %}" >

  <title>{% block title %}Flight4U{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  {% block parentBody %}
  {% endblock %}
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4" href="/" aria-current="page">FLIGHT4U</a>
      <img src="/static/img/plane.png" class="d-flex justify-content-start" id="logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fs-6 my_booking" href="/my_booking">My bookings</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          <li class="nav-item d-flex">
            <a class="nav-link logged" href="">Hello, <h5>{{user.first_name}}</h5></a>
            <a class="nav-link logout" href="/logout">Sign out</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          <li class="nav-item d-flex" id="log-sign">
            <a class="nav-link login" href="/loginform">Log in</a>
            <a class="nav-link signup" href="/register">Register</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>

<!------------------------------content---------------------------------->

  <div class="content">
    {% block body %}
    
    {% endblock %}
    </div>
    
  </body>
  </html>
