{% extends 'layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/loginform.css' %}">
    <script src="{% static 'js/loginform.js' %}" ></script>
{% endblock %}


{% block body %}

<body>

    {% if messages %}
    <div class="alert">
        {% for message in messages %}
            <div class="warn"><b>{{message}}</b></div>
        {% endfor %}
    {% endif %}

<form action="login" method="post"> <!--addUser() in views.py-->
<fieldset>
    <legend align="center">LOGIN</legend>
    {% csrf_token %}
    <div class="login-form">
        <label for="">Email:</label>
        <input type="email" class="form-input" name="email" placeholder="email">
    </div>
    <div class="login-form">
        <label for="">Password:</label>
        <input type="password" class="form-input" name="password" placeholder="password">
    </div>
    <div class="login-form">
        <input type="submit" value="login" class="btn">
    </div>

</fieldset>
</form>

</body>

{% endblock %}