{% extends 'layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <script src="{% static 'js/payment.js' %}" ></script>
{% endblock %}

{% block body %}


<form action="">

<div class="payment-content">
    <div class="payment-box-head">
        <div class="display-td">
            <img class="card-img" src="{% static 'img/card.png' %}">
        </div>
    </div>
    <div class="payment-box">
        <h2 align="center">Payment Information</h2>
        <div class="amount">
            <label>PAYMENT AMOUNT</label><br>
            <input type='text' id='js_Amount' name='amount' readonly>
        </div>
        <div class="creditcard">
            <label>Credit Card Number<span>*</span></label><br>
            <input type="tel" pattern="[0-9]*" name="card_no" autocomplete="off" maxlength="19" placeholder="Enter card number" required><br>
            <label>Credit Card Holder's Name<span>*</span></label><br>
            <input type="text" name="card_name" placeholder="Enter name" required>
        </div>
        <div class="expire-date">
            <label>Expiration Date<span>*</span></label><br>
            <div class="expiry-input-div">
                <div class="month-div">
                    <select name="expMonth" id="expiry_month" class="form-control" required>
                        <option value="default">Month</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="yeae-div">
                    <select name="expYear" id="expiry_year" class="form-control" required>
                        <option value="">Year</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                        <option value="2035">2035</option>
                        <option value="2036">2036</option>
                        <option value="2037">2037</option>
                        <option value="2038">2038</option>
                        <option value="2039">2039</option>
                        <option value="2040">2040</option>
                        <option value="2041">2041</option>
                        <option value="2042">2042</option>
                        <option value="2043">2043</option>
                        <option value="2044">2044</option>
                        <option value="2045">2045</option>
                        <option value="2046">2046</option>
                        <option value="2047">2047</option>
                        <option value="2048">2048</option>
                        <option value="2049">2049</option>
                        <option value="2050">2050</option>
                        <option value="2051">2051</option>
                        <option value="2052">2052</option>
                        <option value="2053">2053</option>
                        <option value="2054">2054</option>
                        <option value="2055">2055</option>
                        <option value="2056">2056</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="cvv">
            <label>CVV Number<span>*</span></label><br>
            <input type="text" name="cvv_no" placeholder="Enter CVV" required>
        </div>
        <div class="button">
            <button class="cancle" id="btnCancle"><a href="booking" >CANCLE</a></button>
            <button type="submit" class="confirm" id="btnConfirm">CONFIRM</button>
        </div>
    </div>
</div>

</form>

{% endblock %}