{% extends 'layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="{% static 'js/register.js' %}" ></script>
{% endblock %}


{% block body %}

<body class="register-form">

{% if messages %}
<div class="alert">
    {% for message in messages %}
        <div class="warn"><b>{{message}}</b></div>
    {% endfor %}
{% endif %}
</div>

<center>
<form action="addUser" method="post"> <!--addUser() in views.py-->
<fieldset>
    <legend align="center">REGISTER</legend>
    {% csrf_token %}
    <div class="register">
        <input type="email" class="form-input" name="email" placeholder="Email">
    </div>
    <div class="register">
        <input type="text" class="form-input" name="phone_no" placeholder="Phone number">
    </div>
    <div class="register">
        <input type="password" class="form-input" name="password" placeholder="Set your password">
    </div>
    <div class="register">
        <input type="password" class="form-input" name="repassword" placeholder="Confirm your password">
    </div>
    <div class="register">
        <input type="submit" value="Register" class="btn">
    </div>
    <div class="register">
        <p class="text-center">If you already have an account, 
        <a href="loginform">login</a> instead.</p>
    </div>

</fieldset>
</form>
</center>
</body>

{% endblock %}