{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}
{% block body %}

<body class="registration-form">
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <b>{{message}}</b>
        {% endfor %}
    </div>
        {% endif %}
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            {% if messages %}
            <form class="form-anticlear" action="addUser" method="post" id="register">
            {% else %}
            <form class="form" action="addUser" method="post" id="register">
            {% endif %}
                <!--addUser() in views.py-->
                {% csrf_token %}
                <div class="form-group">
                    <h1 align="center">REGISTER</h1>
                </div>
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control item" name="Firstname" id="Firstname"
                        placeholder="*First name" autofocus required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" name="Lastname" id="Lastname" placeholder="*Last name"
                        autofocus required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control item" name="email" id="email" placeholder="*Email" autofocus
                        required>
                </div>
                <div class="form-group">
                    <input type="username" class="form-control item" name="username" id="username"
                        placeholder="*Username" autofocus required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control item" name="password" id="password"
                        placeholder="*Password" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control item" name="repassword" id="repassword"
                        placeholder="*Confirm password" autocomplete="off" required>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn" id="btn" >Create Account</button>
                </div>
                <div class="form-group">
                    <p class="text-center">If you already have an account,
                        <a href="loginform">login</a> instead.
                    </p>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/akjpro/form-anticlear/base.js"></script>
</body>






{% endblock %}