{% extends 'layout.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/search.css' %}">
<script src="{% static 'js/search.js' %}" ></script>

<link rel="stylesheet" href="{% static 'css/suggest_search.css' %}">
<script src="{% static 'js/suggest_search.js' %}" ></script>


{% endblock %}

{% block body %}

<body class="section section1">

    <div class="search-flight">
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="search_card">
                    <form class="search-flight-form" action="viewflight" onsubmit="">
                        <!----------------------create form ------------------>
                            <h1 class="card-head" align="center"> SEARCH FLIGHT </h1>
                            <div class="search-flight-form">
                                <div class="input row">
                                    <div class="departure col-md-6">
                                    <label for="flight-from">From : </label><br>
                                    <select name="departure" id="js_Departure">
                                        <option selected disabled>From</option>
                                        {% for city in city %}
                                        <!--from 'city' in def search (views.py)-->
                                        <option value="{{city.city_id}}">{{city.city_name}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                    <div class="destination col-md-6">
                                    <label for="flight-to">To : </label><br>
                                    <select name="destination" id="js_Destination" required>
                                        <option selected disabled>To</option>
                                        {% for city in city %}
                                        <!--from 'city' in def search (views.py)-->
                                        <option value="{{city.city_id}}">{{city.city_name}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <div class="input-row">
                                    <label for="departure_date">Departure Date: </label>
                                    <input type="date" name="departure_date" min="{{min_date}}" max="{{max_date}}"
                                        id="js_DepartureDate" placeholder="Date" class="form-control"
                                        value="{{departure_date}}" required>
                                </div>
                                <div class="input-row">
                                    <label for="class">Class: </label>
                                    <select name="seat_class" id="js_SeatClass" class="form-control" required>
                                        <option value="Economy">Economy</option>
                                        <option value="Business">Business</option>
                                    </select>
                                </div>
                                <div class="d-grid mx-auto">
                                    <button type="submit" class="btn search" id="btnSearch">Search Flight</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- suggestion -->

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>

        <!-- bkk -->

        <div class="carousel-inner" link=”white”>
            <div class="carousel-item active" style="background-image: url('static/img/bkk.jpeg')">
                <div class="carousel-caption">
                    <a href="https://travel.trueid.net/detail/5W3XRDV9G25" target="_blank"
                        style="color: white; text-decoration: none; cursor: pointer;">
                        <h3>Bangkok</h3>
                    </a>
                </div>
            </div>

            <!-- cnx -->

            <div class="carousel-item" style="background-image: url('static/img/cnx.jpeg')">
                <div class="carousel-caption">
                    <a href="https://travel.trueid.net/detail/K2qVnyVo7MO" target="_blank"
                        style="color: white; text-decoration: none; cursor: pointer;">
                        <h3>Chiang mai</h3>
                    </a>
                </div>
            </div>

            <!-- HDY -->

            <div class="carousel-item" style="background-image: url('static/img/hdy2.jpeg')">
                <div class="carousel-caption">
                    <a href="https://travel.trueid.net/detail/wLKn71xQBzZW" target="_blank"
                        style="color: white; text-decoration: none; cursor: pointer;">
                        <h3>Songkhla</h3>
                    </a>
                </div>
            </div>

            <!-- HKT -->

            <div class="carousel-item" style="background-image: url('static/img/hkt1.jpeg')">
                <div class="carousel-caption">
                    <a href="https://travel.trueid.net/detail/Z9A31kEM8dZ" target="_blank"
                        style="color: white; text-decoration: none; cursor: pointer;">
                        <h3>Phuket</h3>
                    </a>
                </div>
            </div>

            <!-- KBV -->

            <div class="carousel-item" style="background-image: url('static/img/kbv1.jpeg')">
                <div class="carousel-caption">
                    <a href="https://travel.trueid.net/detail/3wN2XMgdjb8" target="_blank"
                        style="color: white; text-decoration: none; cursor: pointer;">
                        <h3>Krabi</h3>
                    </a>
                </div>
            </div>

            <!-- UTV -->

            <div class="carousel-item" style="background-image: url('static/img/utv1.jpeg')">
                <div class="carousel-caption">
                    <a href="https://travel.trueid.net/detail/Zx6Jab80W3E" target="_blank"
                        style="color: white; text-decoration: none; cursor: pointer;">
                        <h3>Rayong</h3>
                    </a>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- suggestion -->


</body>


      <div class="carousel-item" style="background-image: url('static/img/utv1.jpeg')">
        <div class="carousel-caption">
          <a href="https://travel.trueid.net/detail/Zx6Jab80W3E"
            style="color: white; text-decoration: none; cursor: pointer;">
            <h3>Rayong</h3>
          </a>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- suggestion -->
</body>
{% endblock %}