{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
    <title>E-Ticket</title>
</head>
<body>
    <nav>
        <div class="col logo" style="width: 50%;">
            <!--<img src="{% static 'img/icon_logo.png' %}" width="45%">-->
            <span style="color: rgb(230, 103, 0); font-weight: bold; font-size: 2.5em;">Flight4U</span>
        </div>
        <div class="col header" style="width: 50%;">
            <span style="margin: auto 0 auto auto;">E-Ticket</span>
        </div>
    </nav>
    <hr style="height: 1px; border: 0; background-color: grey;" noshade>
    <div class="table-div">
        <table class="table">
            <tr class="tr-caption">
                <td style="width: 100%;">TICKET INFORMATION</td>
            </tr>
        </table>
        <table cellspacing='0' >
            <tr class="tr-odd">
                <th>TICKET REFERENCE</th>
                <td>{{ticket.ticket_id}}</td>
                <th>STATUS</th>
                <td>{{ticket.status | upper}}</td>
            </tr>
            <tr class="tr-even">
                <th>FLIGHT DATE</th>
                <td>{{ticket.departure_date | date:'d M y' | upper}}</td>
                <th>CLASS</th>
                <td>{{ticket.flight_class | upper}}</td>
            </tr>
            <tr class="tr-odd">
                <th>EMAIL</th>
                <td>{{user.email}}</td>
                <th>BOOKER</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr class="tr-even">
                <th>สำรอง</th>
                <td>{{ticket1.status | upper}}</td>
                <th>สำรอง</th>
                <td></td>
            </tr>
        </table>
        <table class="table">
            <tr class="tr-caption">
                <td style="width: 100%;">PASSENGER INFORMATION</td>
            </tr>
        </table>
        <table cellspacing='0'>
            <tr class="tr-odd">
                <th>NO.</th>
                <th>PASSENGER NAME</th>
                <th>EMAIL</th>
                <th>CLASS</th>
            </tr>
            {% for lineitem in passenger %}
            
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="tr-odd">
                        <td style="width: 20%; padding-left: 20px;">{{forloop.counter}}</td>
                        <td style="width: 35%; padding-left: 20px;">{{lineitem.last_name | upper}}/{{lineitem.first_name | upper}}</td>
                        <td style="width: 20%; padding-left: 20px;">{{lineitem.email | upper}}</td>
                        <td style="width: 25%; padding-left: 20px;">{{ticket.flight_class | upper}}</td>
                    </tr>
                {% else %}
                    <tr class="tr-even">
                        <td style="width: 20%; padding-left: 20px;">{{forloop.counter}}</td>
                        <td style="width: 35%; padding-left: 20px;">{{lineitem.last_name | upper}}/{{lineitem.first_name | upper}}</td>
                        <td style="width: 20%; padding-left: 20px;">{{lineitem.email | upper}}</td>
                        <td style="width: 25%; padding-left: 20px;">{{ticket.flight_class | upper}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
                
        </table>
        <table class="table">
            <tr class="tr-caption">
                <td style="width: 100%; padding-left: 20px;">FLIGHT INFORMATION</td>
            </tr>
        </table>
        <table cellspacing='0'>
            <tr class="tr-odd">
                <th>FLIGHT</th>
                <th>DEPART/ARRIVE</th>
                <th>AIRPORT/TERMINAL</th>
            </tr>
            <tr class="tr-even">
                <td style="width: 29%; padding-left: 20px;">{{ticket1.flight.airline | upper}}<br>{{ticket1.flight.plane | upper}}</td>
                <td style="width: 22%; padding-left: 20px;">{{ticket1.flight_ddate | date:'d M y' | upper}}<br>{{ticket1.flight.depart_time | time:'Hi'}}</td>
                <td style="width: 49%; padding-left: 20px;">{{ticket1.flight.origin.airport | upper}} ({{ticket1.flight.origin.code | upper}})</td>
            </tr>
            <tr class="tr-odd">
                <td style="width: 29%; padding-left: 20px;"></td>
                <td style="width: 22%; padding-left: 20px;">{{ticket1.flight_adate | date:'d M y' | upper}}<br>{{ticket1.flight.arrival_time | time:'Hi'}}</td>
                <td style="width: 49%; padding-left: 20px;">{{ticket1.flight.destination.airport | upper}} ({{ticket1.flight.destination.code | upper}})</td>
            </tr>
        </table>
    </div>



</body>
</html>