{% extends 'layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
    <script src="{% static 'js/view.js' %}" ></script>
{% endblock %}



{% block body %}


    <table class='table'>
        <tr class="col">
            {% for name in column_name %}
            <th> {{ name }} </th>
            {% endfor %}
        </tr>
    
    {% for lineitem in data %}

        <tr class="row">
            <td>{{ lineitem.flight }}</td>
            <td>{{ lineitem.airline }}</td>
            <td>{{ lineitem.departure }}</td>
            <td>{{ lineitem.destination }}</td>
            <td>{{ lineitem.departure_time }}</td>
            <td>{{ lineitem.arrival_time }}</td>
            <td>{{ lineitem.duration }}</td>
            <td>
                <button class="btn" id="btnChoose"><a href="booking">Choose</a></button>
                <button id="btnDetail">Detail</button>
            </td>
        <tr>  

    {% endfor %}
    

{% endblock %}
    



