{% extends 'layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
    <script src="{% static 'js/view.js' %}" ></script>
{% endblock %}



{% block body %}

<div class="container">
    <div class='row'>
        <div class="col-sm">
            <label>From:</label>
            <input type='text' id='js_Departure' name='departure' value='{{departure}}' readonly>
        </div>
        <div class="col-sm">
            <label>To:</label>
            <input type='text' id='js_Destination' name='destination' value='{{destination}}' readonly>
        </div>
        <div class="col-sm">
            <label>Date:</label>
            <input type='text' id='js_Date' name='date' value='{{departure_date}}' readonly>
        </div>
        <div class="col-sm">
            <label>Class:</label>
            <input type='text' id='js_Class' name='seat_class' value='{{seat_class}}' readonly>
        </div>
        <div class="col">
            <button type="button" class="btnSearch" ><a href="searchflight">Search</a></button>
        </div>
    </div>
</div>

<table class='table'>
    <thead>
        <tr>
            <th> Airline </th>
            <th> Departure Time </th>
            <th> Arrival Time </th>
            <th> Price </th>
            <th> Duration </th>
        </tr>
    </thead>
    {% for flight in flights %}
        <tr class="data">
            <td>{{flight.airline}}</td>
            <td>{{flight.departure_time}}</td>
            <td>{{flight.arrival_time}}</td>
            <td> {{flight.flight_id.price}}฿ </td>
            <td> </td>
            <td>
                <button class="btn" id="btnChoose"><a href="{{flight.flight_id}}/{{flight.flight_id.seat_class}}">Choose</a></button>
                <!-- <button id="btnDetail">Detail</button> -->
            </td>
        <tr>


    {% endfor %}


    

{% endblock %}
    



